@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #EEEEEE;
}

.caixagran {
  width: 100%;
  height: 100%;
}

.img1{
  margin-left: 14%;
  position: absolute;
}

.menu {
  width: 100%;
  margin: 1% auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 1400px;
}
.menu .caixa1 {
  width: 100%;
  height: 1070px;
  background-color: darkorange;
}
.menu .contacte {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.menu .contacte p {
  padding: 10px 0px;
}
.menu ul {
  margin-left: 34%;
  font-size: 0;
  list-style-type: none;
}
.menu ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 650;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;
  margin-left: 20px;
}
.menu ul li ul {
  display: none;
}
.menu ul li:hover {
  background-color: #f2f2f2;
}
.menu ul li:hover ul {
  display: block;
  margin-top: 15px;
  margin-left: -1px;
  width: 200px;
  left: 0;
  position: absolute;
}
.menu ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.menu ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.menu ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.menu ul li:hover ul li:hover span {
  background-color: #ee204e;
}
.caixaText {
  width: 96%;
  margin-left: 30px;
  margin-bottom: 20px;
  color: white;
  padding: 10px 0px;
  font-family: 'Ubuntu', sans-serif;
}
.caixaText h2{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
hr{
  margin-top: 10px;
}
.imatges{
  margin-left: 1.5%;
}
.imgInici1{
  width:450px;
  height:300px;
}
.imgInici2{
  width:450px;
  height:300px;
}
.imgInici3{
  width:450px;
  height:300px;
}
.imgInici4{
  width:905px;
  height:550px;
}
.imgInici5{
  position: absolute;
  top:  555px;
  left: 1185px;
  width:450px;
  height:270px;
}
.imgInici6{
  width:450px;
  height:270px;
}
.contacte pre{
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 0px;
  text-align: center;
}


@media only screen and (max-width: 600px) {

.img1{
  position: relative;
  margin-left: 30%;
}
.menu ul{
  margin-left: -1px;
}
.caixaText{
  width: 85%;
}
.menu .caixa1 {
  width: 100%;
  height: 1950px;
  background-color: darkorange;
}
.imgInici1{
  margin:11px;
  width:95%;
  height:95%;
}
.imgInici2{
  margin:11px;
  width:95%;
  height:95%;
}
.imgInici3{
  margin:11px;
  width:95%;
  height:95%;
}
.imgInici4{
  margin:11px;
  width:95%;
  height:95%;
}
.imgInici5{
  position: unset;
  margin:11px;
  width:95%;
  height:95%;
}
.imgInici6{
  margin:11px;
  width:95%;
  height:95%;
}
.contacte{
  width: 80%;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 0px;
  font-size: 11px;
  
}
.menu ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 650;
  color: #333;
  display: inline-block;
  padding: 10px;
  position: relative;
}


}